<!DOCTYPE html>
<html>
<head>
	<title>cetak</title>
	<style type="text/css">
		
		body{
			font-family: arial;
		}

		.kop1{
			margin: -10px;
		}
		.kop2{
			margin-top: -20px;
		}
		.kop3{
			font-size: 11pt;
			margin-top: -15px;
		}
		body img{
			width: 98px;
			height: 98px;
			float: left;
		}

		table{
			border-collapse: collapse;
			width: 100%;
		}

		table th{
			border: 2px solid black;
		  	padding: 5px;
		}

		table tr td{
			border: 5px;
			padding: 5px;
		}
	</style>
</head>
<body>
	<center>
		<img src="smkn2.png">
		<div class="kop1">
			<h4>PEMERINTAH KOTA MALANG<br/>
			DINAS PENDIDIKAN</h4>
		</div>
		<div class="kop2">
			<h2>SMKN 2 MALANG</h2>
		</div>
		<div class="kop3">
			<p>Jalan Veteran No. 17 Malang (0341). Faks.(0341)0341 Malang 65154<br/>
		Website : http://www.smkn2malang.sch.id|Email : smkn2malang@yahoo.com</p>
		</div>
		<hr style="margin-top: -8px;">
		<hr style="display: block;
			height: 5px;
			background-color: black;
			margin-top: -5px;">
	</center>

	<table>
		<tr>
			<th rowspan="2">NO</th>
			<th rowspan="2">INDIKATOR</th>
			<th colspan="2">NILAI</th>
			<th rowspan="2">KETERANGAN</th>
		</tr>
		<tr>
			<th>ANGKA</th>
			<th>HURUF</th>
		</tr>
	</table>

</body>
</html>